.error {
    color: red
}

.valid {
    color: green
}

.radical {
    font-weight: bold;
    background-color: red
}

#top-bar {
    margin-top: 02%
}

.correct-answer {
    color: green
}

.wrong-answer {
    color: red
}

.large-text {
    font-size: 150%
}
